Flask
pandas
openpyxl
gspread
google-auth
pypdf
pikepdf
pdfplumber==0.11.10
pdfminer.six==20260107
pypdfium2!=5.12.1
Pillow
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
supabase
groq
scikit-learn
numpy
